.tab_div{
	background-color: #E8E8E8;
	height: 1269px;	
	overflow: auto;
}
.table_div_db{
    width: 40%;
    height: 277px;
    padding: 1px 16px;
    border: 1px solid #FFF;
    background-color: #FFF;
    margin: 1px 16px;
    display: inline-block;
    margin-top: 20px;
    height: 277px;	
}
.table .tb_tr_td_sp{
	background-color: #FFF;
}
.table-hover tr th{
	background-color: #F0F0F0;
	border-left: 1px solid #ddd;
	color: #989898;
	text-align: center;
}
.table-hover .tb_tr_td{
	border-left: 0px;
	text-align: left;
}
.table-hover .tb_tr_th{
	border-left: 0px;
}
.table>tbody>tr>td{
	border-left: 1px solid #ddd;
	text-align: center;
}
.tab_caption{
	font-size: 16px;
	color: #1a94cc;
}
.tab_caption_yc{
	font-size: 16px;
	color: #4eb059;
}
.tab_caption_zf{
	font-size: 16px;
	color: #EC494C;
}
.tab_caption_tz{
	font-size: 16px;
	color: #BA55D3;
}
.tab_caption_wa{
	font-size: 16px;
	color: #CD4F39;
}
.overViewWrap{
    padding: 10px;
    width: 100%;
}
.row{
	margin-right: -15px;
    margin-left: -15px;
}
.tb_tr_td a{
	text-decoration: none;
	cursor: default;
}
.overViewWrap  ul li{
	list-style: none;
}
ol li, ul li{
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}
.overViewWrap .panel_cont{
    -webkit-padding-start: 35px;
}
ol, ul{
    margin-top: 0;
    margin-bottom: 10px
}
.overViewWrap .panel_cont .sta_total{
	background: #047ACB;
}
.overViewWrap .panel_cont .normal{
	background: #4EB059;
}
img{
    border: 0;
}
.overViewWrap .panel_cont li img{
	vertical-align: top;
    margin: 5px 18px;
}
.overViewWrap .panel_cont .sta_total span{
    width: 102px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .sta_total span{   			
	   width: 71px;
   	}
}
.overViewWrap  i{
	font-style: normal;
}
.overViewWrap .panel_cont .sta_total span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}
.overViewWrap .panel_cont li{
	float: left;
    margin-right: 10px;
   width: 16.1%;
    height: 90px;
    color: #fff;
    padding: 6px;
    border-radius:10px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont li{   			
	  width: 15.8%;
   	}
}
.overViewWrap .panel_cont .normal span{
	width: 102px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .normal span{   			
	 width: 80px;
   	}
}
.overViewWrap .panel_cont .normal span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}
.overViewWrap .panel_cont .warn span{
    width: 102px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .warn span{   			
	 width: 80px;
   	}
}
.overViewWrap .panel_cont .warn span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}
.overViewWrap .panel_cont .fault span{
    width: 116px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .fault span{   			
	 width: 90px;
   	}
}
.overViewWrap .panel_cont .fault span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}


.overViewWrap .panel_cont .prompt span{
	width: 102px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .prompt span{   			
	 width: 80px;
   	}
}
.overViewWrap .panel_cont .prompt span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}


.overViewWrap .panel_cont .reult span{
    width: 102px;
    height: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
@media only screen and (max-width:1366px){
   	.overViewWrap .panel_cont .reult span{   			
	 width: 80px;
   	}
}
.overViewWrap .panel_cont .reult span i{
	font-size: 40px;
    display: inline-block;
    width: 100%;
    height: 65%;
    line-height: 60px;
    text-align: center;
}

.overViewWrap .panel_cont .warn{
	background: #16B7D4;
}
.overViewWrap .panel_cont .fault{
	background: #FDAB3D;
}
.overViewWrap .panel_cont .prompt{
	background: #EC494C;
}
.overViewWrap .panel_cont .reult{
	background: #9b95c9;
    margin-right: 0px;
}
.tab_move{
	margin-left: 76%;
	font-size: 14px;
	cursor: pointer;
}
@media only screen and (max-width:1366px){
   	.tab_move{   			
	   margin-left: 72%;
   	}
}
.tab_move_yc{
	margin-left: 82%;
	font-size: 14px;
	cursor: pointer;
}
.tab_move_zf{
	margin-left: 86%;
	font-size: 14px;
	cursor: pointer;
}
.tab_move_tz{
	margin-left: 68%;
	font-size: 14px;
	cursor: pointer;
}
.tab_move_wa{
	margin-left: 86.4%;
	font-size: 14px;
	cursor: pointer;
}
.tb_div_yc{
	 float: left;
    width: 57%;
    display: inline-block;
    margin-left: 42%;
    margin-top: -17.4%;
    height: 277px;
    background-color: #fff;
}
@media only screen and (max-width:1366px){
   	.tb_div_yc{   			
	   width: 58%;
	   margin-top: -20.6%;
   	}
}
.div_chart_sj{
	background-color: #fff;
	width: 50%;
	margin-left: 14px;
	float: left;
}
.div_chart_zf{
	background-color: #fff;
	width: 47%;
	margin-left: 14px;
	float: left;
}
.tb_div_zf{
	background-color: #fff;
	width: 65%;
	margin-top: 20px;
	margin-left: 14px;
	float: left;
	height: 291px;
}
.tb_div_tz{
	background-color: #fff;
	width: 32%;
	margin-top: 20px;
	margin-left: 14px;
	float: left;
	height: 291px;
	display: inline-block;
}
.tb_div_wj{
	background-color: #fff;
	width: 98%;
	margin-top: 20px;
	margin-left: 14px;
	float: left;
	height: 291px;
}